{% extends 'bootstrap/base.html' %}


{% block navbar %}
    <html>
        
        <body style="background-color:#E9E9E9">
        <nav class="navbar navbar-inverse" >
            <div class="container">
                <div class="navbar-header">   
                <a class="navbar-brand" href="{{ url_for('index') }}"> {{_('Question/Answer')}} </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-tabs navbar-left">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('index') }}">{{ _('Home') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('explore') }}">{{ _('Explore') }}</a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs navbar-right">
                        {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">{{ _('Login') }}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contacts') }}">{{ _('Contacts') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        </body>
    </html>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}

{% endblock %}